<mat-accordion *ngIf= "posts.length>0" multi="true">
  <mat-expansion-panel *ngFor= "let post of posts">
    <mat-expansion-panel-header>
    <mat-panel-title>
      {{post.title}}
    </mat-panel-title>
    <!-- <mat-panel-description>
      Fahim Shaikh Spouse
    </mat-panel-description> -->
  </mat-expansion-panel-header>
  <p>{{post.content}}</p>
  <mat-action-row>
    <button mat-raised-button color="primary">EDIT</button>
    <button mat-raised-button color="warn">DELETE</button>
  </mat-action-row>
</mat-expansion-panel>
</mat-accordion>
<p *ngIf= "posts.length == 0">
  There are no posts to display
</p>
